<% k = @segment.result %>
<% if @segment.valid? %>
    <% if k[0].nil? %>
      <div style="padding: 15px"><%= 'Count of segments is equal to zero' %></div>
    <% else %>
    <h2 id = "result">Самый длинный отрезок: <%= k[0][k[1]] %></h2>
    <h2>Количество отрезков: <%= k[0].compact.length %></h2>
    <h1>Все отрезки:</h1>
    <table class = "table table-dark" style = "width: 50%">
      <tr>
        <td style = "width: 50px">№ отрезка</td>
        <td style = "width: 80%">Отрезок</td>
      </tr>
      <% i = 0 %>
      <% while i < k[0].length do %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= k[0].compact[i] %></td>
        </tr>
        <% i += 1 %>
      <% end %>
    </table>
    <p>Previous largest segment was <%= link_to "#{k[2].largest_segment}", root_path, class: "my_link" %></p>
    <% end %>
<% else %>
  <div style="padding: 15px">
    <% @segment.errors.each do |error| %>
      <ul class="list-group">
        <li class="list-group-item"><%= error.full_message %></li>
      </ul>
    <% end %>
  </div>
<% end %>

